appdirs==1.4.4
astroid==2.4.2
bokeh==2.2.3
certifi==2020.6.20
cffi @ file:///tmp/build/80754af9/cffi_1600699180754/work
colorcet==2.0.2
cycler==0.10.0
faiss==1.6.3
glfw==2.0.0
imageio==2.9.0
importlib-metadata==2.0.0
isort==5.6.4
Jinja2==2.11.2
joblib==0.17.0
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
meshio==4.3.5
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
multipledispatch==0.6.0
numpy==1.19.4
olefile==0.46
packaging==20.4
pandas==1.1.4
param==1.10.0
Pillow @ file:///tmp/build/80754af9/pillow_1603822253009/work
pyacvd==0.2.5
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pyct==0.4.8
pylint==2.6.0
PyOpenGL==3.1.5
pyparsing==2.4.7
pyrr==0.10.3
python-dateutil==2.8.1
pytz==2020.4
pyvista==0.27.2
PyYAML==5.3.1
scikit-learn==0.23.2
scipy @ file:///tmp/build/80754af9/scipy_1597686620742/work
scooby==0.5.6
seaborn @ file:///tmp/build/80754af9/seaborn_1600553570093/work
six @ file:///tmp/build/80754af9/six_1605205313296/work
sklearn==0.0
threadpoolctl==2.1.0
toml==0.10.2
torch==1.3.1
tornado==6.1
tqdm==4.51.0
typed-ast==1.4.1
typing-extensions==3.7.4.3
vtk==9.0.1
wrapt==1.12.1
zipp==3.4.0
