/* #plot_col {
    position:absolute;
    width:300px;
    top:150px;
    left:0px;
    z-index: 1;
} */
.dropdown {
    z-index: 100000;
}
.bk-btn-warning {
    z-index: 100000!important;
}
.full_row {
    z-index: 100000;
}
/* #model_window {
    width:100px;
    max-width: 500px;
    max-height: 500px;
} */

#side_menu {
    z-index: 100000;
    height:150px;
    width:100vw;
}

/* #container {
    max-width: 500px;
    max-height: 500px;
} */


#data_table {
    position: absolute;
    top:0;
    left:300px;
}
#tsne_figure {
    
    height:1000px;
    width:calc(100vw-300px);
    left:300px;
    display:block;
    top:800px;
    position: absolute;
}

#container canvas {
    display:block;
    position: absolute;
    width:calc(100vw-300px);
    /* height:calc(100vh-250px); */
    height:1000px;
    top:165px;
    left:300px;

}
 

#gui {
    position: sticky;

     top: 150px!important; 
     left: 300px !important;
     z-index: 10000!important;
}