

#model_window {
    width:100px;
    max-width: 500px;
    max-height: 500px;
}

#side_menu {
    
    height:150px;
    width:100vw;
}

#container {
    max-width: 500px;
    max-height: 500px;
}

#data_table {
    position: absolute;
    top:0;
    left:300px;
}

#container canvas {
    width:500px;
    height:100px;
}
 

#gui {
    position: absolute!important;
     top: 200px!important; 
     left: 700px !important;
     z-index: 10000!important;
}