{% extends base %}

<!DOCTYPE html>
<html lang="en">
  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!-- <link rel="stylesheet" href="myapp/static/css/styles.css"/> -->
       
    
    <meta charset="utf-8">
    {{ bokeh_css }}
    {{ bokeh_js }}
  </head>
  <body>
    {{ plot_div|indent(8) }}
    {{ plot_script|indent(8) }}
    {{ embed(roots.file_input) }}
   <div id = "model_window"> 
    {% include 'webgl_loader_ply.html' %}
  </div>
  </body>
</html>